<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Coder</title>
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
    <h1 class="title" >One Punch Coders</h1>
    <a href="/form" class="btn btn-primary">Create</a>
    <div class="container d-flex justify-content-center align-items-center">
        <table class="table table-striped table-dark w-auto" >
            <thead>
                <th>id</th>
                <th>name</th>
                <th>age</th>
                <th>clan</th>
                <th>actions</th>
            </thead>
            <tbody>
                <tr th:each="coder : ${coderList}" >
                    <td th:text="${coder.id}" ></td>
                    <td th:text="${coder.name}" ></td>
                    <td th:text="${coder.age}" ></td>
                    <td th:text="${coder.clan}" ></td>
                    <td>
                        <div class="d-flex gap-2">
                            <a th:href="@{/update/{id}(id=${coder.id})}" class="btn btn-primary">update</a>
                            <a th:href="@{/delete/{id}(id=${coder.id})}" class="btn btn-danger">delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>




</body>
</html>